﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

<link rel="stylesheet" href="css/styles.css" >

<div>

<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat. 
  Fusce at dolor vel massa tempor hendrerit. Praesent sem urna, scelerisque vel tortor id, volutpat placerat nulla. 
  Donec fermentum mi et purus laoreet, vitae vulputate mauris mattis. Nullam sem sem, bibendum sed augue sit amet, rutrum lacinia erat.
   Suspendisse ut interdum leo. Praesent auctor erat vitae faucibus tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
   Cras eleifend finibus tempor. Nunc porta odio sit amet arcu placerat, eget euismod risus elementum. Nullam non purus quis ligula blandit venenatis. 
   Integer fermentum enim sit amet sem faucibus, sed dictum mauris faucibus. Vivamus vulputate erat diam, sed elementum elit convallis at.
    Nunc consequat leo eget magna varius consectetur. Sed ultrices, urna nec lobortis condimentum, ex nibh auctor tellus, sit amet luctus purus erat nec lorem.</blockquote>

            <img class="resize" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="cute kitten" >

      </div>

      <div>

            <blockquote>Hello cats</blockquote>

     <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat. 
  Fusce at dolor vel massa tempor hendrerit. Praesent sem urna, scelerisque vel tortor id, volutpat placerat nulla. 
  Donec fermentum mi et purus laoreet, vitae vulputate mauris mattis. Nullam sem sem, bibendum sed augue sit amet, rutrum lacinia erat.
   Suspendisse ut interdum leo. Praesent auctor erat vitae faucibus tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
   Cras eleifend finibus tempor. Nunc porta odio sit amet arcu placerat, eget euismod risus elementum. Nullam non purus quis ligula blandit venenatis. 
   Integer fermentum enim sit amet sem faucibus, sed dictum mauris faucibus. Vivamus vulputate erat diam, sed elementum elit convallis at.
    Nunc consequat leo eget magna varius consectetur. Sed ultrices, urna nec lobortis condimentum, ex nibh auctor tellus, sit amet luctus purus erat nec lorem.</blockquote>

            <img class="resize" src=" http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="cute kitten" >

      </div>

 