
@{
   ViewData["Title"] = "portfolio";
}
<div>
          <blockquote>Hello cats</blockquote>    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat.
 Fusce at dolor vel massa tempor hendrerit. Praesent sem urna, scelerisque vel tortor id, volutpat placerat nulla.
 Donec fermentum mi et purus laoreet, vitae vulputate mauris mattis.</blockquote><img class="resize" src=" http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="cute kitten" >     </div><div class="row">
 <div class="col-sm-4"><h1>cat 1</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat.
 Fusce at dolor vel massa tempor hendrerit.
 </p><img class="resize" src=" http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="cute kitten" >  </div>  <div class="col-sm-4"><h1>cat 2</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat.
 Fusce at dolor vel massa tempor hendrerit.</p>
 <img class="resize" src=" http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="cute kitten" >
 </div>
 
 
 <div class="col-sm-4"> <h1>cat 3</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat.
 Fusce at dolor vel massa tempor hendrerit.</p>  <img class="resize" src=" http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="cute kitten" >  </div>  <div class="row">
 <div class="col-sm-4"><h1>cat 4</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat.
 Fusce at dolor vel massa tempor hendrerit.</p><img class="resize" src=" http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="cute kitten" >  </div>  <div class="col-sm-4"><h1>cat 5</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat.
 Fusce at dolor vel massa tempor hendrerit.</p>
 <img class="resize" src=" http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="cute kitten" >
 </div>
 
 
 <div class="col-sm-4"> <h1>cat 6</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ut nulla et consequat.
 Fusce at dolor vel massa tempor hendrerit.</p>  <img class="resize" src=" http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="cute kitten" >  </div>
</div>