﻿@{
    ViewData["Title"] = "About";
}


            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <div class="container">

                    <div class="row">

                       <div class="col-md-6">

        <table style="width:100%">

            <tr>

              <td>

                <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="dog image 1" class="img-responsive">

                <blockquote>

                 Name Space

             </blockquote></td>

              <td>
                <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="dog image 1" class="img-responsive">

                <blockquote>

                  Name Space

             </blockquote></td> 

             <td></td>

            </tr>

           

            <tr>

              <td><img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="dog image 1" class="img-responsive">

                <blockquote>

                  Name Space

             </blockquote></td>

              <td><img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="dog image 1" class="img-responsive">

                <blockquote>

                  Name Space

             </blockquote></td> 

            </tr>

            

            <tr>

              <td><img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="dog image 1" class="img-responsive">

                <blockquote>

                  Name Space

             </blockquote></td>

              <td><img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="dog image 1" class="img-responsive">

                <blockquote>

                Name Space

             </blockquote></td> 

             <td></td>

            </tr>

          </table>

    </div> 

    <div class="col-md-6">

              <div class="col-sm-4"> <object width="1920" height="1080"
              data="https://www.youtube.com/embed/XGSy3_Czz8k">
              </object>
              </div>

            </div>

        </div>   

    </div>

   </div>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  
