body{
    background-color: white;
}


img{ width:100%}

img{white-space: 100%;}

table.space {
    border:100px solid black;
    border-spacing: 100px 100px;
    }


img.resize {
    display: block;
    margin: auto;
    width: 40%;
    white-space: 20%;
    
}

object {   
    width:870px; 
    border: 1px solid red;
    margin-top: 100px;   
    vertical-align: middle;
}


blockquote{text-align: center}

video {
    width: 320;
    height: 320;
}